[receive]
	requireContributorAgreement = true
[submit]
	action = merge always
	mergeContent = true
[project]
[access]
	inheritFrom = Platform-Unrestricted-Projects
[access "refs/heads/idea133-weekly-release"]
	exclusiveGroupPermissions = read push submit
	read = group mdb/android-git
	push = +force group mdb/android-git
	submit = group mdb/android-git
